[mysqld]
default_storage_engine=innodb
skip_external_locking
skip_host_cache
skip_name_resolve
#Mysql服务的唯一编号 每个mysql服务Id需唯一
server-id=1
 
#数据库默认字符集,主流字符集支持一些特殊表情符号（特殊表情符占用4个字节）
character-set-server = utf8mb4
 
#数据库字符集对应一些排序等规则，注意要和character-set-server对应
collation-server = utf8mb4_general_ci
 
#设置client连接mysql时的字符集,防止乱码
init_connect=‘SET NAMES utf8mb4‘
 
#是否对sql语句大小写敏感，1表示不敏感
lower_case_table_names = 1